name: C++ Integration Tests
on: push
jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            compiler: gcc
          - os: ubuntu-latest
            compiler: clang
          - os: macos-latest
            compiler: clang
          - os: windows-latest
            compiler: msvc

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Install and run vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          runVcpkgInstall: true

      - name: Configure, Build, and Test
        run: |
          cmake -D CMAKE_TOOLCHAIN_FILE=${{ env.VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake -S . -B build_test
          BUILD_CONFIG=""
          if [ "${{ matrix.os }}" = "windows-latest" ]; then BUILD_CONFIG="--config Debug"; fi
          cmake --build build_test --target IntegrationTests $BUILD_CONFIG
          ctest --test-dir build_test -V $BUILD_CONFIG
