name: C++ Integration Tests
on: push
jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            compiler: gcc
          - os: ubuntu-latest
            compiler: clang
          - os: macos-latest
            compiler: clang
          - os: windows-latest
            compiler: msvc

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Install and run vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          runVcpkgInstall: true

      - id: cmake_configure
        run: cmake -D CMAKE_TOOLCHAIN_FILE=${{ env.VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake -S . -B build_test
      - id: cmake_build
        run: cmake --build build_test --config Debug --target IntegrationTests
      - id: ctest
        run: ctest --test-dir build_test -V
